<%- include('../partials/header') %>

<p>Add a New Ticket to Flight ID: <%= flightID %></p>

<form action="/flights/<%= flightID %>/tickets/new" method="POST">
    <label title="Accepted Format example A3">Seat: </label>
    <input name="seat" required pattern="[A-F][1-9]\d?" title="Accepted Format example A3"><br>
    <label>Price: </label>
    <input type="number" name="price" min="0" title="Min $0"><br>
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>
