body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main{
  padding: 30px;
}

h1{
  padding: 0px 0px 10px 0px;
}

h2{
  font-size: x-large;
}

section{
  margin: 0px auto 50px auto;
}

